#hero{
    text-align: center;

padding-bottom: 15rem;
img[src*="music"]{

width: 25.75rem;
    height: 6.5rem;
}
    
p{color: var(--text-color-secondary);
    font: var(--fw-md) var(--fs-lg)/1.4 var(--ff-sans);
  font-size: 2.5rem;
    }


}


@media (width <= 32.375rem){
#hero{
    padding-bottom: 3rem;

}
}