*{margin: 0;
padding: 0;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smothing: grayscale;




}

*::before, *::after{box-sizing: border-box;}

a{text-decoration: none;
}


a:hover{
    background: linear-gradient(
    90deg,
    var(--brand-color-secondary)0%,
    var(--brand-color-primary)100%);

-webkit-background-clip: text;
background-clip: text;
color: transparent;

}


.py-base{
    padding-block: var(--py-base);
 
}

.py-lg{    padding-block: var(--py-lg);
    
}

.py-xl{padding-block: var(--py-xl);
}

.px-lg{padding-inline: var(--px-lg);
}

.desktop-only{
    display: none; 
}

.even-columns{
    display: grid;
    gap: 1rem;
}




.container{
    --max-width:375px;
    width:min(var(--max-width), 100% - var(--px-lg)* 2   );
    margin-inline: auto;
}


.flex{display: flex;}
.width{width: 5rem;}
.textc{text-align: center;}
.marginblock{margin-block: 1rem;}
.martop32{margin-top: 2rem;}
.grid{display: grid;}
.gap-1{gap: 1rem;}
.gap-2{gap:2rem;}
.marginl{margin-left: auto;}
.marginr{margin-right: 1rem;}
.marginl1rem{margin-left: 1rem;}
.margi-in{margin-inline: 1rem;}
.center{justify-content: center;}
.marginauto{ margin-inline: auto;}
.itens-center{align-items: center;}
.absolute{position: absolute;}
.relative{position: relative;}
.evely{justify-content: space-evenly;}


@media (width >= 80em){
    .container{
        --max-width:80rem;
    }

    .desktop-only{
        display: initial;
    }

    .even-columns{
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}











